---
---

@import "{{ site.theme }}";

body {
  padding: 5;
  margin: 2;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
  background-image: "white";
}

